body{
    background-image: url('../images/Cover3.jpg');
    background-size: cover;
    height:900px;
}
#giftBoard{
    background-image: url('../images/giftBoard.jpeg');
    border-style: ridge;
    border-color: black;
    display:inline-block;
    margin-top: 65px;
}
#giftBoard p{
    text-align: center;
    font-style: oblique;
    font-size: large;
}
#text{
    display: inline-block;
    vertical-align: top;
    margin-right: 300px;
    margin-left:100px;
    margin-top: 65px;
}